@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.blue-archive.io/misans-webfont/misans-400-regular.min.css");
@import url("https://fonts.blue-archive.io/misans-webfont/misans-600-semibold.min.css");

@font-face {
  src: url("https://fonts.blue-archive.io/WixMadeforText-VariableFont_wght.ttf")
    format("truetype");
  font-family: "Wix Madefor Text";
  font-display: swap;
}

@font-face {
  src: url("https://fonts.blue-archive.io/WixMadeforDisplay-VariableFont_wght.ttf")
    format("truetype");
  font-family: "Wix Madefor Display";
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-base: "Wix Madefor Text", "MiSans", "Microsoft YaHei", "PingFang SC",
    -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans",
    BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans GB", Arial, sans-serif;
}

html,
body {
  background: #f7f8fa;
  font-family: var(--font-base) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-weight: 700;
  font-family: "Wix Madefor Display", var(--font-base);
}

#app {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-areas:
    "main"
    "footer";
  grid-template-rows: 1fr min-content;
}
